{% extends 'blog/base.html' %}
{% load static %}

{% block titulo %}Iniciar Sesión{% endblock %}

{% block contenido %}
    <h1 class="mb-4">Iniciar Sesión</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <p class="mt-3">¿Aún no tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
{% endblock %}