{% extends 'blog/base.html' %}
{% load static %}

{% block titulo %}Acerca de Mí{% endblock %}

{% block contenido %}
<header class="masthead" style="background-image: url('{% static 'blog/img/about-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Acerca del Creador</h1>
                    <span class="subheading">Un poco sobre la persona detrás de este blog.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 class="section-heading mb-4">Mi Historia en el Desarrollo Web</h2>
            <p>Este proyecto nace de mi interés por la programación en **Python** y el *framework* **Django**. Buscaba un entorno robusto para aprender sobre la gestión de usuarios, bases de datos y la creación de un sistema de contenido dinámico. Cada línea de código, desde el modelo `Post` hasta el `LoginRequiredMixin`, ha sido un paso de aprendizaje fundamental.</p>

            <p>La idea principal de esta web es funcionar como una plataforma donde cualquier usuario registrado pueda compartir sus pensamientos y páginas, utilizando herramientas modernas como **CKEditor** para texto enriquecido y manteniendo una arquitectura clara basada en el patrón **MVT (Model-View-Template)**.</p>
            
            <h2 class="section-heading mt-5 mb-4">Contacto y Redes</h2>
            <p>Si tienes alguna pregunta sobre el proyecto o si simplemente quieres conectar, no dudes en usar el sistema de mensajería (próximamente) o contactarme a través de mis perfiles sociales.</p>

            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="#!">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#!">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}